.logoimg 
    {
        /* margin: 0px; */
        height: 75px;
        margin-left: -36px!important;
        margin-top: -16px;
        width: 243px;;
        margin-bottom: -9px;
    }

    .nimg{
        width: 255px;
    margin-top: -21px;
    height: 93px;
    margin-left: -14px;
    }
