 <!-- Left Sidebar -->
 <aside id="leftsidebar" class="sidebar">
   
    <div class="menu">
        <ul class="list">
            <li class="header"><i class="fa fa-circle-o " style="padding-right: 10px;color: #ce1b1b;">
                </i>
             DASHBOARD</li>
            <li>
                <a routerLink="home"  >
                    <i class="material-icons">home</i>
                    <span>Home</span>
                </a>
               
                        
            </li>
            <li>
                <a href="javascript:void(0);" class="menu-toggle" >
                    <i class="material-icons">speed</i>
                    <span>MIS Library</span>
                </a>
                <ul class="ml-menu">
                    <!-- <li>
                        <a routerLink="libdash"  >
                            <i class="material-icons">chevron_right</i>
                            <span>Dashboard</span>
                        </a>
                    </li> -->
                    <li>
                        <a routerLink="libdash">
                            <i class="material-icons">play_arrow</i>
                            <span>Overview</span></a>
                    </li></ul>
                        
            </li>
            <li class="header"><i class="fa fa-circle-o " style="padding-right: 10px;color: #ce1b1b;">
                </i>
                MAIN NAVIGATION</li>
            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">book</i>
                    <span>Library</span>
                </a>
               
                        <ul class="ml-menu">
                            <!-- <li>
                                <a routerLink="libdash"  >
                                    <i class="material-icons">chevron_right</i>
                                    <span>Dashboard</span>
                                </a>
                            </li> -->
                            <li>
                                <a routerLink="books">
                                    <i class="material-icons">play_arrow</i>
                                    <span>Books</span></a>
                            </li>
                            <li>
                                <a routerLink="members">
                                    <i class="material-icons">play_arrow</i>
                                    <span>Members</span>
                                    </a>
                            </li>
                            <li>
                                <a href=""><i class="material-icons">play_arrow</i>
                                    <span>Circulation</span>
                                    </a>
                            </li>
                            <li>
                                <a href=""><i class="material-icons">play_arrow</i>
                                    <span>Lost\Replace</span></a>
                            </li>
                            <li>
                                <a href=""><i class="material-icons">play_arrow</i>
                                    <span>DailyRead Books</span></a>
                            </li>
                            <li>
                                <a href=""><i class="material-icons">play_arrow</i>
                                    <span>Requested Books</span></a>
                            </li>
                            <li>
                                <a href=""><i class="material-icons">play_arrow</i>
                                    <span>Notification</span></a>
                            </li>
                            <li>
                                <a href=""><i class="material-icons">play_arrow</i>
                                    <span>Report</span></a>
                            </li>
                        </ul>
            </li>
            <li class="header"><i class="fa fa-circle-o " style="padding-right: 10px;color: #ce1b1b;">
            </i>
            MASTERS</li>

        </ul>
    </div>

    <!-- #Menu -->
    <!-- Footer -->
    <div class="legal">
        <div class="copyright">
© PLV. 2011-2020.<a href="https://www.plvglobal.com/">Designed by PLV Technologies Private Limited</a>.
        </div>
        <!-- <div class="version">
            <b>Version: </b> 1.0.5
        </div> -->
    </div>
    <!-- #Footer -->
</aside>
<!-- #END# Left Sidebar -->
