a:hover {
     
    background-color: skyblue;
  
   
  }

//   .sidebar .menu .list .header {
//     background: #03a9f4;
//     color: white;
//     font-size: 12px;
//     font-weight: 600;
//     padding: 15px 16px;
// }
.sidebar .menu .list .header {
  background: #eee;
  font-size: 12px;
  font-weight: 600;
  padding: 8px 16px;
}
