.bgd1 {
    background-image: url('src/assets/images/SD.png');
    background-repeat: no-repeat;
    
}

.bgd2 {
    background-image: url('src/assets/images/SD.png');
    background-repeat: no-repeat;
    transform: rotate(180deg)!important; 
    

}