<section class="content">
    <div class="container-fluid">
       <div class="row">
        <div class="col-md-3 bgd1" style="min-height: 625px;margin-top: 18px;">
            
             
        </div>
        <div class="col-md-6" style="min-height: 625px;text-align: center;">
            <p class="center" style="    position: relative;
            float: left;
            height: 528px;
            width: 100%;
            border-radius: 50%;
            background-color: #fff;
            margin-top: 46px;
            margin-bottom: -110px;">
                <!--<img ng-src="{{comdet.logo}}" style=" margin-top: 42%">-->
                
                <!-- <img ng-src="api/images/logo.jpg" style="margin-top: 50%"> -->
                <img style="margin-top:21%;width: 129px;"  src="assets/images/ss.jpg"><br><br>
                <span style="font-size: 24px;font-weight: 700;" >Sheshadripuram Educational Trust</span>
            </p>
        </div>
        <div class="col-md-3 bgd2" style="min-height: 625px;margin-top: -11px;"></div>
       </div>

    </div>
    
</section>