<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <!-- <ol class="breadcrumb">
                <li>
                    <a href="javascript:void(0);">
                        <i class="material-icons">home</i> Home
                    </a>
                </li>
                <li class="active">
                    <i class="material-icons">
                        supervised_user_circle</i>Members
                </li>
            </ol> -->
            <ol class="breadcrumb breadcrumb-bg-pink">
                <li><a href="javascript:void(0);"><i class="material-icons">home</i> Home</a></li>
                <li class="active"><i class="material-icons"> supervised_user_circle</i> Members</li>
            </ol>
        </div>

          <!-- Widgets -->
        <div class="row clearfix">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-pink hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">playlist_add_check</i>
                    </div>
                    <div class="content">
                        <div class="text">Under Circulation</div>
                     
                        <div class="number count-to" data-from="0" data-to="30" data-speed="15" data-fresh-interval="20">
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-cyan hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">help</i>
                    </div>
                    <div class="content">
                        <div class="text">Due for the Day</div>
                        <div class="number count-to" data-from="0" data-to="0" data-speed="1000" data-fresh-interval="20">
                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-light-green hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">forum</i>
                    </div>
                    <div class="content">
                        <div class="text">Due Date Lapsed</div>
                        <div class="number count-to" data-from="0" data-to="40" data-speed="1000" data-fresh-interval="20">
                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-orange hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">person_add</i>
                    </div>
                    <div class="content">
                        <div class="text">Fee Collected</div>
                        <div class="number count-to" data-from="0" data-to="800" data-speed="1000" data-fresh-interval="20">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Widgets -->

        <!-- Hover Rows -->
        
    <!-- <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                     Members
                       
                    </h2>
                    <input type="search" /><i class="search"></i>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Id</th>
                                <th>Name</th>
                                <th></th>
                                <th>Mobile</th>
                                <th></th>
                             
                                <th>Email</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><i class="fa fa-pencil"></i></th>
                                <td>1</td>
                                <td>Vinay</td>
                                <td><img src="assets/images/no.jpg" class="imgpath"/></td>
                                <td>9538386121</td>
                                <td><img src="assets/images/B.png" class="imgpath"></td>
                                <td>Vinay@gmail.com</td>
                                <td> <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever switch-col-green"></span></label>
                                </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><i class="fa fa-pencil"></i></th>
                                <td>2</td>
                                <td>Rahul</td>
                                <td><img src="assets/images/no.jpg" class="imgpath"/></td>
                                <td>9538386121</td>
                                <td><img src="assets/images/B.png" class="imgpath"></td>
                                <td>Rahul@gmail.com</td>
                                <td> <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever switch-col-green"></span></label>
                                </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><i class="fa fa-pencil"></i></th>
                                <td>3</td>
                                <td>Basanna</td>
                                <td><img src="assets/images/no.jpg" class="imgpath"/></td>
                                <td>9538386121</td>
                                <td><img src="assets/images/B.png" class="imgpath"></td>
                                <td>Basanna@gmail.com</td>
                                <td> <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever switch-col-green"></span></label>
                                </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><i class="fa fa-pencil"></i></th>
                                <td>4</td>
                                <td>Ravi</td>
                                <td><img src="assets/images/no.jpg" class="imgpath"/></td>
                                <td>9538386121</td>
                                <td><img src="assets/images/B.png" class="imgpath"></td>
                                <td>Ravi@gmail.com</td>
                                <td> <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever switch-col-green"></span></label>
                                </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><i class="fa fa-pencil"></i></th>
                                <td>5</td>
                                <td>Nishant</td>
                                <td><img src="assets/images/no.jpg" class="imgpath"/></td>
                                <td>9538386121</td>
                                <td><img src="assets/images/B.png" class="imgpath"></td>
                                <td>Nishant@gmail.com</td>
                                <td> <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever switch-col-green"></span></label>
                                </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> -->

    <!-- #END# Hover Rows -->

    <p-table [value]="books" styleClass="ui-table-customers">

        <ng-template pTemplate="caption" >
            Members
            <div class="ui-table-globalfilter-container">
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search"  style="padding: 2px;"/>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr class="ui-selectable-row">
               <th></th>
                <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="gender">Gender</th>
                <th pSortableColumn="author">Author <p-sortIcon field="author"></p-sortIcon></th>
                <th pSortableColumn="price">Price In Dollars <p-sortIcon field="price"></p-sortIcon></th>
                <th></th>          
            </tr>
            <tr class="ui-selectable-row">
               <th></th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'name', 'startsWith')" placeholder="Search by Name" class="ui-column-filter">
                </th>
                <th></th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'country.name', 'contains')" placeholder="Search by Author" class="ui-column-filter">
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'country.name', 'contains')" placeholder="Convert" class="ui-column-filter">
                </th>
                <th></th>
                <!-- <th>
                    <p-calendar (onSelect)="onDateSelect($event)" (onClearClick)="dt.filter('', 'date', 'equals')"  styleClass="ui-column-filter" placeholder="Registration Date" dateFormat="yy-mm-dd"></p-calendar>
                </th> -->
                </tr>
        </ng-template>


        <ng-template pTemplate="body" let-book>
            <tr class="ui-selectable-row">
                <td><img src="assets/images/no.jpg" class="imgpath"/></td>
                <td>{{book.name}}</td>
                <td><img src="assets/images/B.png"/></td>
                <td>{{book.author}}</td>
                <td>{{book.price}}</td>  
                <td>
                    <button pButton type="button" class="ui-button-secondary"><i class="fa fa-pencil"></i></button>
                </td>        
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr class="ui-selectable-row">
                <td colspan="8" style="text-align:left">No customers found.</td>
            </tr>
        </ng-template>
      </p-table>
    </div>
    
</section>